.questionText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #420d2a; /* Hot pink for question */
    margin-bottom: 16px;
}

.answerText {
    color: #93607b; /* Green for correct answer */
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 12px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.showAnswerBtn,
.nextQuestionBtn {
    background-color: #511737; /* Hot pink button */
    color: #bfa1a1;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.showAnswerBtn:hover,
.nextQuestionBtn:hover {
    background-color: #8e1654; /* Lighter pink on hover */
}

.optionButton {
    padding: 10px;
    background-color: rgba(89, 11, 50, 0.85);
    border: 1px solid rgba(255, 20, 147, 0.15);
    cursor: pointer;
    border-radius: 25px;
    margin: 5px;
    width: 60%;
    color: #e1a9a9;
    transition: background-color 0.3s;
}

.optionButton:hover {
    background-color: rgba(110, 29, 70, 0.37);
}

.selected {
   background-color: #730941;
    color: white;
}

.answerText {
    margin-top: 10px;
    font-weight: bold;
}

.buttonsContainer {
    margin-top: 20px;
}

.nextQuestionBtn {
    background-color: #5e1526;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.nextQuestionBtn:hover {
    background-color: #8c3d66;
}
